// COLORS

// Black
$black: #000112;
$very-dark-gray: #20212c;
$dark-gray-1: #2b2c37;
$dark-gray-2: #3e3f4e;
$medium-grey: #828fa3;

// Primary
$primary-color: #635fc7;
$primary-color-light: #a8a4ff;

// Secondary
$secondary-color: #f4f7fd;
$secondary-color-2: #e4ebfa;

// Color
$color-red: #ea5555;
$color-red-light: #ff9898;

$white: #ffffff;

// THEMES

:root {
  --bg-color: rgb(255, 255, 255);
  --text-color: rgb(0, 1, 18);
  --primary-color: rgb(99, 95, 199);
  --primary-color-light: rgb(168, 164, 255);
  --secondary-color: rgb(244, 247, 253);
  --secondary-color-2: rgb(228, 235, 250);
  --red: rgb(234, 85, 85);
  --red-light: rgb(255, 152, 152);
}

.dark-theme {
  --bg-color: rgb(32, 33, 44);
  --text-color: rgb(255, 255, 255);
  --primary-color: rgb(99, 95, 199);
  --primary-color-light: rgb(168, 164, 255);
  --secondary-color: rgb(43, 44, 55);
  --secondary-color-2: rgb(62, 63, 78);
  --red: rgb(234, 85, 85);
  --red-light: rgb(255, 152, 152);
}
// UTILITIES

$max-width: pxToRem(1440);

// TYPOGRAPHY
$main-font: 'Plus Jakarta Sans', sans-serif;

// PLACEHOLDERS SELECTOR

%flex-column {
  display: flex;
  flex-direction: column;
}

// MEDIA QUERIES

$laptop: 90em; // 1440px
$laptop-medium: 64em; // 1024px
$tablet: 48em; //768px
$mobile-large: 26.563em; //425px
$mobile-medium: 23.438em; //375px
$mobile-small: 20em; //320px
