*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: pxToRem(16);
}

body {
  font-family: $main-font, sans-serif;
}

p {
  font-size: pxToRem(16);
}

h1 {
  font-size: pxToRem(24);
}

h2 {
  font-size: pxToRem(20);
}

h3 {
  font-size: pxToRem(18);
}

h4 {
  font-size: pxToRem(16);
}

ul {
  list-style: none;
}

img {
  display: inline-block;
  vertical-align: text-bottom;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

//scroll
::-webkit-scrollbar {
  width: pxToRem(8);
  height: pxToRem(12);
  border-radius: pxToRem(5);
  padding-left: pxToRem(10);
}

::-webkit-scrollbar-track {
  background: var(--secondary-color-2);
  border-radius: pxToRem(10);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color-light);
  border-radius: pxToRem(10);
}

//media queries

@media only screen and (min-width: 768px) {
  h1 {
    font-size: pxToRem(32);
  }

  h2 {
    font-size: pxToRem(28);
  }

  h3 {
    font-size: pxToRem(24);
  }

  h4 {
    font-size: pxToRem(20);
  }

  p {
    font-size: pxToRem(18);
  }
}
